# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Shpora2021-public.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\poleb\Desktop\Shpora2020\Kontur.Shpora.2021.Public\.idea\.idea.Shpora2021-public\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
